

    <div class="col-sm-3">
        {{ form_row(form.hauteurMin) }}
    </div>
    <div class="col-sm-3">
        {{ form_row(form.hauteurMax) }}
    </div>
    <div class="col-sm-3">
        {{ form_row(form.state) }}
    </div>
