{% macro star(nbStar) %}
    {% for i in 1..5 %}
        {% if i<=nbStar %}
            <span class="fas fa-star"></span>
        {% else %}
            <span class="far fa-star"></span>
        {% endif %}
    {% endfor %}
{% endmacro %}

